// sidebar style
.sidebar {
  min-height: 100vh;

  .brand {
    img {
      width: 80px;
      height: auto;
      object-fit: cover;
    }
  }

  .active {
    background-color: #fff !important;
    border-radius: 0 2000px 2000px 0;
    position: relative;
    transition: none !important;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      right: calc(100% - 20px);
      width: 20px;
      height: 20px;
      background: transparent;
      border-radius: 50%;
      box-shadow: -10px 10px 0 #fff;
      opacity: 1;
      transition: none !important;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      right: calc(100% - 20px);
      width: 20px;
      min-height: 20px;
      background: transparent;
      border-radius: 50%;
      box-shadow: -10px -10px 0 #fff;
      opacity: 1;
      transition: none !important;
    }

    .v-icon {
      color: #3e7ab1 !important;
    }

    .v-list-item__title {
      color: #3e7ab1 !important;
    }
  }
}
