// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;600;700;900&display=swap');

.v-application {
  a {
    text-decoration: none;
    transition: 0.3s;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
@font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo-Regular.woff2')
}
