.auth-page {
  .form-side {
    max-width: 600px;
    height: 100%;

    form {
      width: 100%;
    }
  }

  .img-column {
    background: linear-gradient(
      to right,
      #008ad0 0%,
      #008ad0 60%,
      #fff 60%,
      #fff 100%
    );

    .image-side {
      height: 100%;

      .image {
        max-width: max-content;
        height: 100%;
        display: flex;
        align-items: flex-end;
        transform: translateY(12px);

        img {
          max-width: 100%;
        }
      }
    }
  }
}
