.doctors {
  .bg {
    background: url(../../../assets/images/doctors-bg.webp) no-repeat center top;
    background-size: cover;
    height: 220px;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
